* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button{
    padding: 1rem;
    background-color: dimgray;
    border: none;
    border-radius: 1rem;
}

.headline{
    position: relative;
    margin: 1rem;
}

.headline select{
    position: absolute;
    right: 0rem;
}

.sortButtons{
    display: flex;
    flex: 1;
}

.sortButtons button{
    flex: 2;
    margin: 0rem 1rem 0rem 1rem;
}
#btnShowFinish{
    flex: 1;
    margin-left: 6rem;
}

#notes{
    background: darkgray;
    margin: 1rem;
}

.note{
    height: 10rem;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: row;
}

.info{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.info h3{
    flex: 1;
}

.status{
    flex: 3;
    display: flex;
}

.status p{
    margin-left: 1rem;
}

.noteBody{
    flex: 6;
    display: flex;
    flex-direction: column;
}

.titleBar{
    flex: 1;
}

.noteBody textarea{
    flex: 3;
    width: 100%;
}

#btnEditNote{
    flex: 1;
    margin-left: 1rem;
}